@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<head>
    <title>Personality</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <style type="text/css">
        body, html {
            font-family: "Open Sans";
        }

        .well {
            background-color: white;
            border: none;
        }
    </style>
</head>
<div data-ng-controller="resultsController as results">

    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">Cognitive Personality Insight</h2>
            <label class="sr-only" for="inputEmail"></label>
            <textarea rows="4" cols="50" ng-model="results.Text"></textarea>
            <br />
            <button id="handle" class="btn btn-info" ng-click="results.checkText(results.Text)">CHECK</button>
        </form>
        <br />
        <div class="block">
            <span>Upload File</span>
            <form class="dropzone" method="post" action="{{'/api/files/'}}"
                  enctype="multipart/form-data" id="dropzoneForm"
                  ng-dropzone dropzone="results.dropzone" dropzone-config="results.dropzoneConfig">
                <div class="fallback">
                    <input type="file" name="file" multiple />
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="row model_personality" id="personality-template" style="margin-top:50px;">

        <div class="tname col-xs-6 col-md-2 text-right">
            <span ng-if="results.personality.children"><strong>Name</strong></span>
            <div data-ng-repeat="personality in results.personality.children[0].children[0].children">
                <span>{{personality.name}}</span>
            </div>
        </div>
        <div class="tvalue col-xs-6 col-md-1">
            <span ng-if="results.personality.children"><strong>Value</strong></span>

            <div data-ng-repeat="personality in results.personality.children[0].children[0].children">
                <span>{{personality.percentage * 100 | number:0}}%</span>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            <div id="vizcontainer" class="well"></div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="~/scripts/sabio.service.personality.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="~/scripts/demo.js"></script>
    <script src="~/scripts/personality.js"></script>
    <script src="~/scripts/i18n.js"></script>
    <script>
        sabio.services.personalityFactory = function ($baseService) {
            var aSabioServiceObject = sabio.services.personality;
            var newService = $baseService.merge(true, {}, aSabioServiceObject, $baseService);
            return newService;
        }

        sabio.ng.addService(sabio.ng.app.module,
                    "$personalityService",
                    ["$baseService"],
                    sabio.services.personalityFactory
                );

        sabio.page.resultsControllerFactory = function (
            $scope  //  these three arguments are dependencies which are specified below and passed into the controller by ng
            , $baseController
            , $personalityService) {

            var vm = this;

            $baseController.merge(vm, $baseController);
            //  these properties will be used by the html directives to display data and let the user interact with data

            //  save a reference to our service class so we can call it later on
            vm.$personalityService = $personalityService;
            vm.$scope = $scope;
            vm.notify = vm.$personalityService.getNotifier($scope);

            vm.receiveItems = _receiveItems;
            vm.personality = {};
            vm.checkText = _checkText;
            vm.dropzoneConfig = {
                uploadMultiple: false,
                maxFileSize: 4,
                url: "/api/files/",
                acceptedFiles: '.docx,.doc,.csv',
                addRemoveLinks: true,
                init: function () {
                    var myDropzone = this;

                    this.on("success", function (data) {
                        vm.notify(function () {
                            var response = JSON.parse(data.xhr.response);
                            var content = JSON.parse(response.Content);
                            vm.personality = content.tree;
                            console.log(vm.personality);
                            showVizualization(vm.personality);
                        })
                    });

                    this.on("processing", function (file) {
                        //vm.notify(function () {
                        //    vm.personality = null;
                        //})

                        this.options.url = "/api/files/";
                    });
                }
            };

            function _receiveItems(data) {
                vm.notify(function () {
                    var content = JSON.parse(data.Content);
                    vm.personality = content.tree;
                    console.log(vm.personality);
                    showVizualization(vm.personality);
                });
            }

            function _checkText(text) {
                var model = {
                    Text: JSON.stringify(text)
                }
                vm.$personalityService.sendText(model, _receiveItems, _onsendTextError)
            }

            _onsendTextError = function (jqXhr, error) {
                console.log(error);
            }
        }

        sabio.ng.addController(sabio.ng.app.module
        , "resultsController"
        , ['$scope', '$baseController', "$personalityService"] //  here we pass in $personalityService which was created in the previous step
        , sabio.page.resultsControllerFactory)



    </script>
}

